body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background-color: #fff;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1440px;
    padding: 0 auto;
    margin: 24px auto;
}

.list {
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.item {
    width: calc((100% - (2 * 24px)) / 3);
}

.item .img {
    display: block;
    width: 100%;
    height: auto;
}
